.cardBox{
    display: flex;
    height: fit-content;
    width: 40%;
    margin: auto;
    position: relative;
}
.cardDiv{
    width: 90%;
    height: 44vh;
    padding: 1rem;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}
.cardBody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom: 1px solid; */
    padding: 1rem;
    height: 7rem;
}
.counterDiv{
    display: flex;
    margin-top: 1rem;
    justify-content: space-evenly;
    width: 40%;
}

.AddCart{
    text-align:center;
    margin-top:2rem;
    position: absolute;
    bottom: 2rem;
    right: 2.8rem;
}

.btnAddCart{
    background-color:lightBlue; 
    border:none;
    font-size:1.5rem; 
    padding:10px;
    border-radius:1rem; 
    cursor:pointer;
    text-decoration: none;
    color: black;
}